@font-face {
    font-family: 'Nixie One';
    src: url('NixieOne.woff2') format('woff2'),
        url('NixieOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

